#root {
  height: 100%;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 1366.98px) {
    max-width: 1200px;
  }
  @media (max-width: 1200.98px) {
    max-width: 992px;
  }
}

.header-title {
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0;
  opacity: 0;
  visibility: hidden;
  color: #fff;

  &.entering, &.entered {
    -webkit-animation: isVisible 1s ease-out forwards;
    animation: isVisible 1s ease-out forwards;
  }
}

.body-title {
  text-transform: uppercase;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(310%);
  -ms-transform: translateY(310%);
  transform: translateY(310%);
  @media (max-width: 992.98px) {

  }

  &.entered, &.entering {
    -webkit-animation: bodyTitleToTop 1s ease-out forwards;
    animation: bodyTitleToTop 1s ease-out forwards;
  }
}

.search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 50px;
  -webkit-transform: translateY(450%);
  -ms-transform: translateY(450%);
  transform: translateY(450%);
  @media (max-width: 992.98px) {
  }

  &.entered, &.entering {
    -webkit-animation: searchToTop 1.5s ease-out forwards;
    animation: searchToTop 1.5s ease-out forwards;
  }

  input {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    border: none;

    &:focus {
      outline: none;
    }
  }

  button {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    background-color: #7C337A;
    color: #fff;
    border: none;
    font-size: 1.2rem;
    border-radius: 50px;
    padding: .5rem;

    &:focus {
      outline: none;
    }
  }
}

.result-wrap {
  position: relative;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15%);
  -ms-transform: translateY(15%);
  transform: translateY(15%);

  &.entered, &.entering {
    -webkit-animation: resultToTop 1.5s ease-out forwards;
    animation: resultToTop 1.5s ease-out forwards;
  }
}

.not-found {
  &-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(500%);
    -ms-transform: translateY(500%);
    transform: translateY(500%);

    &.entered, &.entering {
      -webkit-animation: notFoundToTop 1.5s ease-out forwards;
      animation: notFoundToTop 1.5s ease-out forwards;
    }
  }

  &-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 3rem;

    svg {
      margin-right: 1rem;
    }
  }
}

.forecast-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
  overflow: auto;
  padding: 1rem 0;
}

.forecast-title {
  color: #fff;
  margin-bottom: 0;
  font-weight: 500;
}

.forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: .625rem 3rem;
  color: #fff;
  font-size: 1.5rem;

  &:not(:last-child) {
    margin-right: .625rem;
  }
}

.current-weather-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 4rem;
  color: #fff;
}

.location {
  font-size: 3rem;
  font-weight: bold;
}

.current-day {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
}

.current-weather-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  @media (max-width: 992.98px) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    margin-bottom: 2rem;
  }

  & > div {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
  }
}

.weather-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;

  .svg-inline--fa {
    width: 100px;
    height: 100px;
  }
}

.temp {
  font-size: 5rem;
  padding-left: 2rem;
}

.description {
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-left: 2rem;
}

.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  @media (max-width: 992.98px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.weather-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, .3);
  border-radius: 10px;
  padding: .625rem 3rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  @media (max-width: 992.98px) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
  }

  &--items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.5rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 1rem 0;
  }
}
